@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

:root 
{
    --bg-black-900:#080808f3;
    --bg-black-800:#131313a6;
    --bg-black-100:#1d1d1de0;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
    --skin-color: rgb(255, 72, 0);
}

::-webkit-scrollbar
{
    width: .8em;
    background: var(--bg-black-900);
}

::-webkit-scrollbar-track
{
    background: var(--skin-color);
    border-radius: .2vw;
    margin-block: .1em;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb
{
    background: var(--bg-black-100);
    width: .5em;
    border-radius: .3vw;
    border: .2em solid var(--skin-color);
}

html
{
    scroll-behavior: smooth;
    background-color: var(--bg-black-900);
}

body 
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

::before, ::after 
{
    box-sizing: border-box;
}

ul 
{
    list-style: none;
}

.main-content
{
    margin-left: 200px;
}

.section 
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}

.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2
{
    font-size: 40px;
    font-weight: 700;
    color: var(--text-black-900);
    position: relative;
}

.section-title h2::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 50px;
    height: 4px;
    background-color: var(--skin-color);
}

.section-title h2::after
{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 25px;
    height: 4px;
    background-color: var(--skin-color);
    margin-top: 8px;
}

.row 
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    background-color: rgba(255, 68, 0, 0.733);
    display: inline-block;
    white-space: nowrap;
    border: 2px solid var(--skin-color);
    border-radius: 40px;
    transition: all 0.3s ease;
}

.btn:hover
{
    background: var(--skin-color);
    transform: scale(1.05);
}

.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Aside Start*/
.aside 
{
    width: 200px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    height: 100%;
    border-bottom: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo 
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a 
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span 
{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.aside .logo a::before 
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
}

.aside .logo a::after 
{
    content: '';
    position: absolute;
    right: 5px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
}

.aside .nav-toggler 
{
    height: 40px;
    width: 45px;
    cursor: pointer;
    border: 1px solid var(--skin-color);
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-800);
    display: none;
    justify-content: center;
    align-items: center;

}

.aside .nav-toggler span 
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before 
{
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    height: 2px;
    width: 18px;
    background: var(--skin-color)
}

.aside .nav-toggler span::after 
{
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    height: 2px;
    width: 18px;
    background: var(--skin-color)
}

.aside .nav 
{
    margin-top: 50px;
}

.aside .nav li 
{
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a 
{
    color: var(--text-black-900);
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
}

.aside .nav li a:active 
{
    color: var(--skin-color);
}

.aside .nav li a i 
{
    margin-right: 15px;
}
/* Aside End*/

/* Sign Start */
.sign 
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign .sign-in 
{
    padding: 15px;
}

.sign .sign-up
{
    padding: 15px;
}

.sign a
{
    color: black;
    padding: 8px 20px;
} 
/* Sign End */

/* Home Start*/
.home 
{
    background-image: url('Resources/Internet.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    color: var(--bg-black-900);
}

.home .home-info
{
    flex: 0 0 100%;
    max-width: 100%;
}

.home .hello
{
    font-size: 50px;
    margin: 15px 0;
}

.home .hello span
{
    font-family: "Clicker Script", cursive;
    font-size: 100px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.profession
{
    font-size: 30px;
    margin: 15px 0;
}

.typing
{
    color: var(--skin-color);
}

.home .home-info p
{
    font-size: 20px;
    margin-bottom: 70px;
}

.home .home-info .btn
{
    color: var(--bg-black-900);
}
/* Home End*/

/* careerPath Start*/
.careerPath .careerPath-content
{
    flex: 0 0 100%;
    max-width: 100%;
}

.careerPath .careerPath-content a h3:hover
{
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
    color:var(--skin-color)
}

.careerPath .careerPath-content .webDevelopment,
.careerPath .careerPath-content .productDesigner,
.careerPath .careerPath-content .devOps
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-top: 30px;
}

.careerPath .careerPath-content h3.title
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.careerPath .careerPath-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
}

.careerPath .careerPath-content .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border-radius: 10px;
    position: relative;
    width: 100%;
    border: 1px solid var(--bg-black-50);
}

.careerPath .careerPath-content .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.careerPath .careerPath-content .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}

.careerPath .careerPath-content .timeline .timeline-item::before
{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--skin-color);
    left: 7px;
    top: 0;
}

.careerPath .careerPath-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.careerPath .careerPath-content .timeline .timeline-date
{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.careerPath .careerPath-content .timeline .timeline-date .fa
{
    margin-right: 5px;
}

.careerPath .careerPath-content .timeline .timeline-title
{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.careerPath .careerPath-content .timeline .timeline-text
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    text-align: justify;
}

.careerPath .see-more
{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
/* careerPath End*/

/* domain Start*/
.domain
{
    background-image: url('Resources/Domain.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.domain .container
{
    padding-bottom: 40px;
}

.domain .container .section-title h2
{
    color: var(--bg-black-900);
}

.domain .domain-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.domain .domain-item .domain-item-inner
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid var(--bg-black-50);
}

.domain .domain-item .domain-item-inner:hover
{
    box-shadow: 0 0 20px rgb(48, 46, 77, 0.15);
}

.domain .domain-item .domain-item-inner .icon
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.domain .domain-item .domain-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
}

.domain .domain-item .domain-item-inner:hover .icon
{
    background: var(--skin-color);
}

.domain .domain-item .domain-item-inner:hover .icon .fa
{
    color: #fff;
    font-size: 25px;
}

.domain .domain-item .domain-item-inner h4
{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
} 

.domain .domain-item .domain-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}
/* domain End*/

/* Courses Start*/
.Courses .container
{
    padding-bottom: 40px;
}

.Courses .Courses-item
{
    flex: auto auto 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.Courses .Courses-item-inner
{
    background: var(--bg-black-100);
    color: var(--text-black-900);
    overflow: hidden;
    border-radius: 10px;
    border: 6px solid var(--bg-black-100);
    
    max-height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Courses .Courses-item-inner .Courses-img img
{
    width: 100%;
    display: block;
    border-radius: 8px;
}

.Courses .Course-info
{
    text-align: center;
}

.Courses .Course-info h4
{
   font-size: 30px;
   padding: 10px;
}

.Courses .Course-info p
{
    font-size: 15px;
    color: var(--text-black-700);
    margin-bottom: 30px;
}

.Courses .read-more
{
    width: 100%;
    text-align: right;
}

.Courses .btn
{
    font-size: 12px;
    padding: 2px 8px;
    margin-bottom: 5px;
    margin-right: 5px;
}
/* Courses End*/

/* Contact Start*/
.contact
{
    background-image: url('Resources/Contact.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contact .section-title h2
{
    color: var(--bg-black-900);
}

.contact-title
{
    color: var(--skin-color);
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-sub-title
{
    color: var(--bg-black-900);
    font-size: 15px;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon
{
    display: inline-block;
}

.contact .contact-info-item .icon .fa
{
    font-size: 25px;
    color: var(--skin-color)
}

.contact .contact-info-item .icon .fa:hover
{
    background-color: var(--skin-color);
    color: var(--bg-black-900);
    border-radius: 50%;
    padding: 10px;
}

.contact .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    font-weight: 400;
}

.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item
{
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    background: var(--bg-black-900);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 10 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:valid ~ span,
.contact .contact-form .form-item .form-control:focus ~ span
{
    color: var(--skin-color);
    transform: translateX(10px) translateY(-24px);
    background-color: black;
    border-radius: 5px;
    font-size: 1em;
    padding: 0 10px;
}

.contact .contact-form .form-item .form-control:valid,
.contact .contact-form .form-item .form-control:focus
{
    border: 1px solid var(--skin-color);
}

.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
    padding-left: 10px;
    padding-top: 10px;
}

.contact .contact-form .form-item .form-control
{
    padding-left: 10px;
}

.contact .contact-form .form-item .form-group span
{
    position: absolute;
    left: 30px;
    top: 12px;
    pointer-events: none;
    color: var(--text-black-700);
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.5s;
}

.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}
/* Contact End*/

/* Footer Start*/
.footer
{
    background-image: url('Resources/Footer.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    bottom: 0;
    min-height: 250px;
    max-height: 250px;
    margin-left: 200px;
}

.footer .footer-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin: 50px 0 50px 0 ;
}

.footer .footer-item .icon
{
    display: inline-block;
}

.footer .footer-item .icon i:hover
{
    background-color: black;
    color: var(--skin-color);
    border-radius: 50%;
    padding: 10px;
}

.footer .footer-item .icon i
{
    font-size: 25px;
    color: var(--bg-black-900)
}

.footer .footer-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.footer h4
{
    color: var(--text-black-900);
    position: relative;
    font-size: 15px;
    text-align: center;
}
/* Footer End */

@media (max-width: 1199px)
{
    .main-content
    {
        padding-left: 0;
    }

    .section
    {
        z-index: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .aside
    {
        left: -250px; 
    }

    .aside.open
    {
        left: 0; 
    }

    .aside .nav-toggler
    {
        display: flex;
        left: 20px;
    }

    .aside .nav-toggler.open span
    {
        background-color: transparent;
    }

    .aside .nav-toggler.open span::before
    {
        transform: rotate(45deg);
        top: 0;
    }

    .aside .nav-toggler.open span::after
    {
        transform: rotate(-45deg);
        top: 0;
    }

    .section
    {
        left: 0;
    }
}

@media (max-width: 991px)
{
    .coontact .contact-info-item,
    .Courses .Courses-item,
    .domain .domain-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img
    {
        display: none;
    }
}

@media (max-width: 767px)
{
    .domain .domain-item,
    .Courses .Courses-item,
    .contact .contact-form .col-6,
    .careerPath .careerPath-content .webDevelopment,
    .careerPath .careerPath-content .productDesigner,
    .careerPath .careerPath-content .devOps
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}